@font-face {
  font-family: "Asimov";
  src: url("../assets/fonts/Asimov.otf") format("otf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter";
  src: url("../assets/fonts/Inter-Thin.ttf") format("ttf");
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: "Inter-ExtraLight";
  src: url("../assets/fonts/Inter-ExtraLight.ttf") format("ttf");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Light";
  src: url("../assets/fonts/Inter-Light.ttf") format("ttf");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Regular";
  src: url("../assets/fonts/Inter-Regular.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Medium";
  src: url("../assets/fonts/Inter-Medium.ttf") format("ttf");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Inter-SemiBold";
  src: url("../assets/fonts/Inter-SemiBold.ttf") format("ttf");
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Bold";
  src: url("../assets/fonts/Inter-Bold.ttf") format("ttf");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "/nter-ExtraBold";
  src: url("../assets/fonts/Inter-ExtraBold.ttf") format("ttf");
  font-weight: 800;
  font-style: normal;
}
@font-face {
  font-family: "Inter-Black";
  src: url("../assets/fonts/Inter-Black.ttf") format("ttf");
  font-weight: 400;
  font-style: normal;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  outline: none;
}

a, ul {
  text-decoration: none;
  text-decoration: none;
  list-style: none;
  font-style: normal;
}

body {
  font-family: "Inter-Regular", sans-serif;
}
body .overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  overflow: auto;
  z-index: 10;
  background: rgba(0, 0, 0, 0.4);
  display: none;
  top: 0;
  left: 0;
}
body .popup_background {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .popup_menu,
body .popup_menu-gratitude {
  display: none;
  vertical-align: middle;
  position: fixed;
  top: 10%;
  margin: 0 auto;
  z-index: 25;
  max-width: 590px;
  width: 90%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background-color: #141414;
  color: #EDEDED;
  padding: 77px 30px;
}
body .popup_menu .logo,
body .popup_menu-gratitude .logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 50px;
}
body .popup_menu .popup-title,
body .popup_menu-gratitude .popup-title {
  text-align: center;
  font-weight: 500;
  font-size: 24px;
  line-height: 140%;
  margin-bottom: 38px;
}
body .popup_menu .popup-text,
body .popup_menu-gratitude .popup-text {
  font-size: 14px;
  line-height: 147%;
  text-align: center;
  color: #EDEDED;
}
body .popup_menu .btn-close,
body .popup_menu-gratitude .btn-close {
  position: absolute;
  top: 16px;
  right: 16px;
}
body .popup_menu .btn-close:hover,
body .popup_menu-gratitude .btn-close:hover {
  cursor: pointer;
}
body .popup_menu .download-modal_inputs,
body .popup_menu-gratitude .download-modal_inputs {
  margin: auto;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
body .popup_menu .download-modal_inputs label,
body .popup_menu-gratitude .download-modal_inputs label {
  -ms-flex-item-align: start;
      align-self: flex-start;
  margin-bottom: 33px;
  position: relative;
  width: 100%;
  color: #EDEDED;
  font-weight: 400;
  font-size: 14px;
  line-height: 147%;
}
body .popup_menu .download-modal_inputs .input-title,
body .popup_menu-gratitude .download-modal_inputs .input-title {
  color: #F2F2F2;
}
body .popup_menu .download-modal_inputs input,
body .popup_menu-gratitude .download-modal_inputs input {
  width: 100%;
  height: 50px;
  color: #F2F2F2;
  border: 1px solid #F2F2F2;
  padding: 5px 10px 5px 10px;
  border-radius: 300px;
  background: transparent;
  margin-top: 5px;
}
body .popup_menu .download-modal_inputs .download-modal-btn,
body .popup_menu-gratitude .download-modal_inputs .download-modal-btn {
  width: 100%;
  max-width: 250px;
  height: 50px;
  margin-top: -9px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #141414;
  background: #D6FE43;
  border: 1px solid #D6FE43;
  border-radius: 300px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
body .popup_menu .download-modal_inputs .download-modal-btn:hover,
body .popup_menu-gratitude .download-modal_inputs .download-modal-btn:hover {
  cursor: pointer;
}
body .popup_menu .download-modal_inputs .private-info-text,
body .popup_menu-gratitude .download-modal_inputs .private-info-text {
  text-align: center;
  font-style: normal;
  font-weight: 400;
  font-size: 11px;
  line-height: 147%;
  color: #EDEDED;
  opacity: 0.5;
}
body .popup_menu .download-modal_inputs .private-info-text a,
body .popup_menu-gratitude .download-modal_inputs .private-info-text a {
  text-decoration: underline;
  color: #EDEDED;
}
body .container {
  max-width: 1200px;
  margin: 0 auto;
}
body .main {
  width: 100%;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
body .main .block_video video {
  position: absolute;
  min-width: 100%;
  min-height: 100%;
  top: 0;
  left: 0;
}
body .main .content_block {
  overflow-y: scroll;
  height: 100%;
  padding: 0 360px 0 360px;
}
body .main .content_block .logo {
  max-width: 102px;
  height: 20px;
}
body .main::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-size: contain;
  background-position: right -10% bottom 0%;
  opacity: 0.1;
}
body .main::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  background: rgb(8, 7, 7);
  opacity: 0.5;
  top: 0;
  left: 0;
  z-index: 2;
}
body .main header {
  position: relative;
  z-index: 5;
}
body .main header .container {
  padding: 22px 0 23px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  border-bottom: 1px solid #EDEDED;
}
body .main header .container .lang_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EDEDED;
}
body .main header .container .lang_block ul {
  margin-right: 12px;
}
body .main header .container .lang_block .active_langs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #EDEDED;
}
body .main header .container .lang_block .active_langs:hover {
  cursor: pointer;
}
body .main header .container .lang_block .active_langs .lang-title {
  text-transform: uppercase;
}
body .main header .container .lang_block .active_langs img {
  margin-left: 6px;
}
body .main header .container .lang_block .disabled_langs {
  position: absolute;
  top: 100%;
  left: 0;
  padding: 10px;
  display: none;
}
body .main header .container .lang_block .disabled_langs div {
  margin-top: 5px;
}
body .main header .container .lang_block .disabled_langs a {
  text-decoration: none;
  color: #EDEDED;
  margin-top: 10px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body .main header .container .lang_block .disabled_langs a:hover {
  text-decoration: underline;
  cursor: pointer;
}
body .main header .container .lang_block .disabled_langs ul {
  list-style: none;
  margin-right: 35px;
}
body .main header .container .contact_us {
  font-family: "'Inter-Medium", sans-serif;
  display: block;
  padding: 20px 26px 16px 26px;
  border: 1px solid #D6FE43;
  border-radius: 314px;
  color: #D6FE43;
  background: transparent;
  text-decoration: none;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
body .main header .container .contact_us:hover {
  cursor: pointer;
}
body .main .main-info {
  position: relative;
  z-index: 4;
  padding-top: 26px;
}
body .main .main-info .container {
  border-bottom: 1px solid #EDEDED;
}
body .main .main-info .container .about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .main .main-info .container .about-title {
  width: 694px;
  font-family: "Asimov", sans-serif;
  font-size: 38px;
  line-height: 140%;
  color: #EDEDED;
  letter-spacing: 0.035em;
  text-transform: uppercase;
}
body .main .main-info .container .about-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .main .main-info .container .about-text {
  width: 386px;
  margin-bottom: 40px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 147%;
  color: #EDEDED;
}
body .main .main-info .container .about .primary-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  float: right;
  padding: 0px 26px;
  width: 305px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #D6FE43;
  border-radius: 300px;
  color: #D6FE43;
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}
body .main .main-info .container .about .primary-button:hover {
  cursor: pointer;
}
body .main .main-info .container .hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 49px;
}
body .main .main-info .container .hero-section .brand-info {
  width: 380px;
}
body .main .main-info .container .hero-section .brand-info-title {
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #EDEDED;
  opacity: 0.5;
  margin-bottom: 30px;
}
body .main .main-info .container .hero-section .brand-info-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 34px;
}
body .main .main-info .container .hero-section .brand-info-about .logo-africa {
  width: 166px;
  height: 28px;
}
body .main .main-info .container .hero-section .brand-info-text {
  width: 202px;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 147%;
  color: #EDEDED;
  -webkit-box-flex: 0;
      -ms-flex: none;
          flex: none;
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  -ms-flex-positive: 0;
      flex-grow: 0;
}
body .main .main-info .container .hero-section .brand-info .about-clients {
  width: 380px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .main .main-info .container .hero-section .brand-info .about-clients-list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  -webkit-column-gap: 40px;
     -moz-column-gap: 40px;
          column-gap: 40px;
}
body .main .main-info .container .hero-section .brand-info .about-clients-list img {
  margin-right: 10px;
}
body .main .main-info .container .hero-section .brand-info .about-clients-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #EDEDED;
  margin-bottom: 14px;
}
body .main .main-info .container .hero-section .brand-info .about-clients-text:nth-last-child(-n+2) {
  margin-bottom: 0px;
}
body .main .main-info .container .hero-section .contacts-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
body .main .main-info .container .hero-section .contacts-block .contacts-info {
  width: 434px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .main .main-info .container .hero-section .contacts-block .contacts-info-title {
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 120%;
  color: #EDEDED;
  opacity: 0.5;
  margin-bottom: 30px;
}
body .main .main-info .container .hero-section .contacts-block .contacts-info-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 147%;
  color: #EDEDED;
  margin-bottom: 30px;
}
body .main .main-info .container .hero-section .contacts-block .contacts-info .block-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
body .main .main-info .container .hero-section .contacts-block .contacts-info .block-social .region-name {
  font-family: "Inter-Medium", sans-serif;
  font-size: 14px;
  line-height: 140%;
  color: #EDEDED;
  margin-bottom: 18px;
}
body .main .main-info .container .hero-section .contacts-block .contacts-info .block-social .social-links-icon {
  width: 40px;
  height: 40px;
  margin-right: 16px;
}
body .main .company-info {
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 35px 0 38.5px 0;
  color: #EDEDED;
}
body .main .company-info-blocks {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
body .main .company-info-title {
  font-size: 12px;
  line-height: 147%;
  opacity: 0.5;
}
@media screen and (max-width: 1600px) {
  body .main .content_block {
    padding: 0 150px 0 150px;
  }
}
@media screen and (max-width: 1280px) {
  body .main .block_video video {
    left: -50%;
  }
}
@media screen and (max-width: 1024px) {
  body .main .block_video video {
    left: -90%;
  }
  body .main .content_block {
    padding: 0 50px 0 50px;
  }
  body .main .content_block header .container {
    padding: 48px 0 20px 0;
  }
  body .main .content_block .main-info .container {
    max-width: 924px;
  }
  body .main .content_block .main-info .container .about {
    margin-bottom: 30px;
  }
  body .main .content_block .main-info .container .about-title {
    width: 340px;
    font-size: 28px;
    margin-bottom: 35px;
  }
  body .main .content_block .main-info .container .about-text {
    width: 340px;
    margin-bottom: 44px;
  }
  body .main .content_block .main-info .container .about .primary-button {
    width: 340px;
    height: 50px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info {
    max-width: 668px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info-about {
    width: 340px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info-about .logo-africa {
    width: 133px;
    height: 23px;
    margin-right: 16px;
  }
  body .main .content_block .main-info .container .hero-section .contacts-block {
    width: 330px;
  }
  body .main .content_block .main-info .container .hero-section .contacts-block .contacts-info .block-social .social-links-icon {
    width: 23px;
    height: 23px;
  }
}
@media screen and (max-width: 850px) {
  body .main .block_video video {
    left: -115%;
  }
  body .main .content_block .main-info .container {
    max-width: 760px;
  }
}
@media screen and (max-width: 800px) {
  body .main .block_video video {
    left: -130%;
  }
}
@media screen and (max-width: 768px) {
  body .main .content_block .main-info .container {
    max-width: 668px;
  }
  body .main .content_block .main-info .container .hero-section .contacts-block {
    width: 288px;
  }
}
@media screen and (max-width: 680px) {
  body .main .content_block {
    padding: 0 75px 0 75px;
  }
  body .main .content_block .main-info {
    max-width: 530px;
  }
  body .main .content_block .main-info .container .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .main .content_block .main-info .container .about-title {
    width: 517px;
    font-size: 35px;
  }
  body .main .content_block .main-info .container .about-text {
    width: 517px;
    font-size: 20px;
  }
  body .main .content_block .main-info .container .about .primary-button {
    margin: 0 auto;
    float: none;
  }
  body .main .content_block .main-info .container .hero-section {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  body .main .content_block .main-info .container .hero-section .brand-info {
    width: 517px;
    margin-bottom: 70px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info-about {
    width: 450px;
    font-size: 20px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info-about .logo-africa {
    width: 140px;
    height: 27px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info-title {
    font-size: 18px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info .about-clients {
    width: 530px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info .about-clients-text {
    font-size: 17px;
  }
  body .main .content_block .main-info .container .hero-section .contacts-block {
    width: 530px;
  }
}
@media screen and (max-width: 576px) {
  body .main .content_block {
    padding: 0 50px 0 50px;
  }
  body .main .content_block .main-info {
    max-width: 476px;
  }
  body .main .content_block .main-info .container .about {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  body .main .content_block .main-info .container .about-title {
    width: 476px;
    font-size: 35px;
  }
  body .main .content_block .main-info .container .about-text {
    width: 476px;
    font-size: 20px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info {
    width: 476px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info .about-clients {
    width: 476px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info .about-clients-text {
    font-size: 12px;
    line-height: 140%;
  }
  body .main .content_block .main-info .container .hero-section .contacts-block {
    width: 476px;
  }
  body .main .content_block .company-info {
    display: block;
  }
  body .main .content_block .company-info-title {
    font-size: 18px;
  }
}
@media screen and (max-width: 475px) {
  body .popup_menu .download-modal_inputs input::-webkit-input-placeholder, body .popup_menu-gratitude .download-modal_inputs input::-webkit-input-placeholder {
    font-size: 10px;
  }
  body .popup_menu .download-modal_inputs input::-moz-placeholder, body .popup_menu-gratitude .download-modal_inputs input::-moz-placeholder {
    font-size: 10px;
  }
  body .popup_menu .download-modal_inputs input:-ms-input-placeholder, body .popup_menu-gratitude .download-modal_inputs input:-ms-input-placeholder {
    font-size: 10px;
  }
  body .popup_menu .download-modal_inputs input::-ms-input-placeholder, body .popup_menu-gratitude .download-modal_inputs input::-ms-input-placeholder {
    font-size: 10px;
  }
  body .popup_menu .download-modal_inputs input::placeholder,
body .popup_menu-gratitude .download-modal_inputs input::placeholder {
    font-size: 10px;
  }
  body .main .block_video video {
    left: 0;
    top: 0;
    min-width: auto;
    min-height: auto;
    height: 100%;
  }
  body .main .content_block {
    padding: 0 25px 0 25px;
  }
  body .main .content_block .main-info {
    max-width: 425px;
  }
  body .main .content_block .main-info .container .about-title {
    width: 425px;
    font-size: 28px;
  }
  body .main .content_block .main-info .container .about-text {
    width: 425px;
    font-size: 20px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info {
    width: 425px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info-about {
    width: 425px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info .about-clients {
    width: 425px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info .about-clients-text {
    font-size: 12px;
  }
  body .main .content_block .main-info .container .hero-section .contacts-block {
    width: 425px;
  }
  body .main .content_block .company-info {
    width: 420px;
  }
}
@media screen and (max-width: 420px) {
  body .main .content_block {
    padding: 0 17px 0 17px;
  }
  body .main .content_block .main-info {
    max-width: 380px;
  }
  body .main .content_block .main-info .container .about-title {
    width: 380px;
    font-size: 28px;
  }
  body .main .content_block .main-info .container .about-text {
    width: 380px;
    font-size: 20px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info {
    width: 380px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info-about {
    width: 380px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info .about-clients {
    width: 380px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info .about-clients-text {
    font-size: 12px;
  }
  body .main .content_block .main-info .container .hero-section .contacts-block {
    width: 380px;
  }
  body .main .content_block .company-info {
    width: 380px;
  }
}
@media screen and (max-width: 390px) {
  body .main .content_block .main-info {
    max-width: 341px;
  }
  body .main .content_block .main-info .container .about-title {
    width: 341px;
  }
  body .main .content_block .main-info .container .about-text {
    width: 341px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info {
    width: 341px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info-about {
    width: 341px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info .about-clients {
    width: 341px;
  }
  body .main .content_block .main-info .container .hero-section .contacts-block {
    width: 341px;
  }
  body .main .content_block .company-info {
    width: 341px;
  }
}
@media screen and (max-width: 375px) {
  body .popup_menu .download-modal_inputs input::-webkit-input-placeholder, body .popup_menu-gratitude .download-modal_inputs input::-webkit-input-placeholder {
    font-size: 10px;
  }
  body .popup_menu .download-modal_inputs input::-moz-placeholder, body .popup_menu-gratitude .download-modal_inputs input::-moz-placeholder {
    font-size: 10px;
  }
  body .popup_menu .download-modal_inputs input:-ms-input-placeholder, body .popup_menu-gratitude .download-modal_inputs input:-ms-input-placeholder {
    font-size: 10px;
  }
  body .popup_menu .download-modal_inputs input::-ms-input-placeholder, body .popup_menu-gratitude .download-modal_inputs input::-ms-input-placeholder {
    font-size: 10px;
  }
  body .popup_menu .download-modal_inputs input::placeholder,
body .popup_menu-gratitude .download-modal_inputs input::placeholder {
    font-size: 10px;
  }
  body .main .content_block .main-info {
    max-width: 340px;
  }
  body .main .content_block .main-info .container .about-title {
    width: 340px;
  }
  body .main .content_block .main-info .container .about-text {
    width: 340px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info {
    width: 340px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info-about {
    width: 340px;
  }
  body .main .content_block .main-info .container .hero-section .brand-info .about-clients {
    width: 340px;
  }
  body .main .content_block .main-info .container .hero-section .contacts-block {
    width: 340px;
  }
  body .main .content_block .company-info {
    width: 340px;
  }
}
@media screen and (max-width: 368px) {
  body .popup_menu .download-modal_inputs .input-title,
body .popup_menu-gratitude .download-modal_inputs .input-title {
    font-size: 10px;
  }
  body .popup_menu .download-modal_inputs input::-webkit-input-placeholder, body .popup_menu-gratitude .download-modal_inputs input::-webkit-input-placeholder {
    font-size: 8px;
  }
  body .popup_menu .download-modal_inputs input::-moz-placeholder, body .popup_menu-gratitude .download-modal_inputs input::-moz-placeholder {
    font-size: 8px;
  }
  body .popup_menu .download-modal_inputs input:-ms-input-placeholder, body .popup_menu-gratitude .download-modal_inputs input:-ms-input-placeholder {
    font-size: 8px;
  }
  body .popup_menu .download-modal_inputs input::-ms-input-placeholder, body .popup_menu-gratitude .download-modal_inputs input::-ms-input-placeholder {
    font-size: 8px;
  }
  body .popup_menu .download-modal_inputs input::placeholder,
body .popup_menu-gratitude .download-modal_inputs input::placeholder {
    font-size: 8px;
  }
}/*# sourceMappingURL=main.css.map */