@import "fonts";

$background-color: rgba(0, 0, 0, 0.4);
$primary-text-color: #EDEDED;
$accent-color: #D6FE43;
$popup-bg-color:  #141414;;
$popup-color: #F2F2F2;

  *,
  *::before,
  *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
  }

  a, ul {
    text-decoration: none;
    text-decoration: none;
    list-style: none;
    font-style: normal;
  }

  a:visited {
   color: $primary-text-color;
  }
  a:active {
    color: $primary-text-color;
  }


body {
    font-family: 'Inter-Regular', sans-serif;
    font-size: 14px;
    line-height: 147%;
    color: $primary-text-color;

    .preloader {
        position: fixed;
        z-index: 999999;
        background-color: #111;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 1;
        transition: opacity 0.5s ease-in-out;
    }

    .preloader.hide {
        opacity: 0;
        pointer-events: none;
    }

    .loader {
        display: inline-block;
        margin-left: 5px;
    }

    .bounceball {
        position: relative;
        display: inline-block;
        height: 37px;
        width: 15px;
            &:before {
                position: absolute;
                content: '';
                display: block;
                top: 0;
                width: 15px;
                height: 15px;
                border-radius: 50%;
                background-color: $accent-color;
                transform-origin: 50%;
                animation: bounce 500ms alternate infinite ease;
            }
        }

    @keyframes bounce {
        0% {
            top: 30px;
            height: 5px;
            border-radius: 60px 60px 20px 20px;
            transform: scaleX(2);
        }
        35% {
            height: 15px;
            border-radius: 50%;
            transform: scaleX(1);
        }
        100% {
            top: 0;
        }
    }

    .overlay {
        position: fixed;
        width: 100%;
        height: 100%;
        overflow: auto;
        z-index: 10;
        background: $background-color;
        display: none;
        top: 0;
        left: 0;
        overflow-y: scroll;
    }
    
    .popup_background {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .popup_menu {
        display: none;
        vertical-align: middle;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        max-height: calc(100vh - 50px);
        margin: 0 auto;
        max-width: 590px;
        width: 90%;
        // height: 100%;
        z-index: 25;
        box-sizing: border-box;
        background-color: $popup-bg-color;
        color: $primary-text-color;
        padding: 73px 30px 10px;
        overflow-y: auto;

        .popup_logo {
        display: flex;
        justify-content: center;
        margin: 0 auto 48px;
            img {
                width: 190px;
                height: 37px;
            }
        }

        .popup-title {
        font-family: "Nunito-ExtraBold", sans-serif;
        text-align: center;
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.035em;
        max-width: 344px;
        margin: 0 auto 56px;
        text-transform: uppercase;
        }

        .popup-text {
        font-size: 14px;
        line-height: 147%;
        text-align: center;
        color: $primary-text-color;
        }

        .btn-close {
        position: absolute;
        top: 16px;
        right: 16px;

        &:hover {
            cursor: pointer;
        }
        }

        .download-modal_inputs {
        margin: auto;
        width: 100%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        column-gap: 30px;
        align-items: center;
        position: relative;

        label {
            align-self: flex-start;
            margin-bottom: 33px;
            position: relative;
            width: 100%;
            color: $primary-text-color;
            font-weight: 400;
            font-size: 14px;
            line-height: 147%;
        }

        label:last-of-type {
            margin-bottom: 0;
        }

        .input-title {
            color: $popup-color;
        }

        input {
            width: 100%;
            height: 50px;
            color: $popup-color;
            border: 1px solid $popup-color;
            padding: 5px 10px 5px 10px;
            border-radius: 300px;
            background: transparent;
            margin-top: 5px;
        }

        .download-modal-btn {
            width: 100%;
            max-width: 250px;
            height: 50px;
            margin-top: 25.58px;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $popup-bg-color;
            background: $accent-color;
            border: 1px solid $accent-color;
            border-radius: 300px;
            transition: 0.5s;
            font-weight: 500;
            font-size: 12px;
            line-height: 15px;
            letter-spacing: 0.05em;
            text-transform: uppercase;

            &:hover {
            cursor: pointer;
            }
        }
        }

        .private-info-wrapper {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            margin-top: 10px;
        }

        .private-info-text {
            max-width: 250px;
            font-style: normal;
            font-weight: 400;
            font-size: 11px;
            line-height: 147%;
            color: $primary-text-color;
            opacity: 0.5;

            a {
            text-decoration: underline;
            color: $primary-text-color;
            }
        }
    }

    .popup_menu-gratitude {
        display: none;
        vertical-align: middle;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        overflow-y: auto;
        max-height: calc(100vh - 50px);
        margin: 0 auto;
        max-width: 590px;
        width: 90%;
        z-index: 25;
        box-sizing: border-box;
        background-color: $popup-bg-color;
        color: $primary-text-color;
        padding: 77px 31px 77px 29px;

        .popup_logo {
        display: flex;
        justify-content: center;
        margin: 0 auto 48px;
            img {
                width: 190px;
                height: 37px;
            }
        }

        .popup-title {
        font-family: "Nunito-ExtraBold", sans-serif;
        text-align: center;
        font-size: 24px;
        line-height: 140%;
        letter-spacing: 0.035em;
        max-width: 530px;
        margin: 0 auto 43px;
        text-transform: uppercase;
        }

        .popup-text {
        font-size: 14px;
        line-height: 147%;
        text-align: center;
        max-width: 386px;
        margin: 0 auto;
        color: $primary-text-color;
        }

        .btn-close {
        position: absolute;
        top: 16px;
        right: 16px;

        &:hover {
            cursor: pointer;
        }
        }
    }

    .container {
        max-width: 1200px;
        margin: 0 auto; 
    }

    .main {
        width: 100%;
        height: 100vh;
        position: relative;
        overflow: hidden;

        .block_video {
            video {
                position: absolute;
                min-width: 100%;
                min-height: 100%;
                top: 0;
                left: 0;
            }
        }
        .content_block {
            overflow-y: scroll;
            height: 100%;
            padding: 0 360px 0 360px;

            
        &::after {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 2;
            background-repeat: no-repeat;
            background-size: contain;
            background-position: right -10% bottom 0%;
            opacity: 0.1;
        }
        &::before {
            content: '';
            width: 100%;
            height: 100%;
            position: absolute;
            background: rgb(8, 7, 7);
            opacity: 0.5;
            top: 0;
            left: 0;
            z-index: 2;
        }       

        header {
            position: relative;
            z-index: 5;
            .container {
                padding: 22px 0 23px 0;
                display: flex;
                justify-content: space-between;
                align-items: center;
                text-align: center;
                border-bottom: 1px solid $primary-text-color;

                .logo-block {
                    display: flex;
                    flex-direction: column;

                    &-img {
                        max-width: 102px;
                        height: 20px;
                    }
                    &-title {
                        margin-top: 15px;
                        text-align: left;
                    }
                }

                
                .lang_block {
                    display: flex;
                    align-items: center;
                    color: $primary-text-color;

                    .header-partners {
                        max-width: 160px;
                        text-align: start;
                        margin-right: 20px;
                        p {
                            font-size: 14px;
                            font-style: normal;
                            font-weight: 400;
                            line-height: 147%;
                            color: $primary-text-color;
                        }
                    }

                    .active_langs {
                        display: flex;
                        align-items: center;
                        color: $primary-text-color;
                        &:hover {
                            cursor: pointer;
                        }

                        .lang-title {
                            color: $primary-text-color;
                            text-transform: uppercase;
                        }

                        img {
                            margin-left: 6px;
                        }
                    }
                    
                    .disabled_langs {
                        position: absolute;

                        div {
                            margin-top: 5px;
                        }

                        a {
                            text-decoration: none;
                            font-size: 14px;
                            line-height: 147%;
                            text-transform: uppercase;
                            color: $primary-text-color;
                            transition: 0.5s;
                            &:hover {
                            text-decoration: underline;
                            cursor: pointer;
                            }
                        }

                        ul {
                            list-style: none;
                            margin-right: 35px;
                        }
                    }

                    .buttons {
                        display: flex;
                        margin-right: 46px;
    
                        .contact_us {
                            font-family: "'Inter-Medium", sans-serif;
                            display: block;
                            padding: 20px 26px 16px 26px;
                            border: 1px solid $accent-color;
                            border-radius: 314px;
                            color: $accent-color;
                            background: transparent;
                            text-decoration: none;
                            font-size: 12px;
                            line-height: 15px;
                            letter-spacing: 0.05em;
                            text-transform: uppercase;
                            transition: 0.5s;
                            margin-right: 16px;
                            &:hover {
                                cursor: pointer;
                                filter: drop-shadow(0px 0px 10px #D6FE43);
                            }
                        }
                        .contact_us:last-child {
                            margin-right: 0;
                        }
                    }
                }
            }                  
        }

        .main-info {
            position: relative;
            z-index: 4;
            padding-top: 35px;
            
            .container {
                border-bottom: 1px solid $primary-text-color;

                .welcome-title {
                        line-height: 120%;
                        opacity: 0.5;
                        margin-bottom: 12px;
                    }

                .about {
                    display: flex;
                    justify-content: space-between;

                    
                    &-title {
                        width: 694px;
                        font-family: 'Asimov', sans-serif;
                        font-size: 38px;
                        line-height: 140%;
                        color: $primary-text-color;
                        letter-spacing: 0.035em;
                        text-transform: uppercase;
                        }

                    &-block {
                        display: flex;
                        flex-direction: column;
                    }
                    &-text {
                        width: 386px;
                        margin-bottom: 40px;
                        font-style: normal;
                        font-weight: 400;
                        font-size: 14px;
                        line-height: 147%;
                        color: $primary-text-color;
                        }

                    .primary-button {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        float: right;
                        padding: 0px 26px;
                        width: 305px;
                        height: 50px;
                        background-color: transparent;
                        border: 1px solid $accent-color;
                        border-radius: 300px;
                        color: $accent-color;
                        font-style: normal;
                        font-weight: 500;
                        font-size: 12px;
                        line-height: 15px;
                        letter-spacing: 0.05em;
                        text-transform: uppercase;
                    }

                    .primary-button:hover {
                        cursor: pointer;
                        filter: drop-shadow(0px 0px 10px #D6FE43);
                    }
                }

                .hero-section {
                    margin-bottom: 49px;

                    .brand-info {
                        max-width: 530px;
                        .brand {
                            display: flex;
                            
                            .primary-title {
                                margin-right: 135px;
                            }
                        }

        
                        &-title {
                            font-family: 'Inter-Medium', sans-serif;
                            font-weight: 500;
                            font-size: 14px;
                            line-height: 120%;
                            opacity: 0.5;
                            margin-bottom: 30px;
                            color: $primary-text-color;
                        }
                        &-about {
                            display: flex;
                            margin-bottom: 34px;
                            max-width: 530px;
        
                          
                        }
                        &-text {
                            max-width: 198px;
                        }
                    }
                    
                    .content-block {
                        display: flex;
                        justify-content: space-between;
                        .about-clients {
                            max-width: 463px;
                            display: flex;
                            flex-direction: column;

                            &-list {
                            display: grid;
                            grid-template-columns: 215px 1fr;
                            column-gap: 40px;
                            // align-items: ;
                            margin-bottom: 35px;

                            .logo_gaming {
                                width: 173px;
                                height: 51.2px;
                            }

                            .logo_africa {
                                width:168px;
                                height:31px
                            }

                            .logo_georgia {
                                width: 188px;
                                height: 26px;
                            }

                            .logo_bacon {
                                width: 163px;
                                height: 17px;
                            }

                            .logo_puma {
                                width: 63px;
                                height: 15.575px;
                            }

                                p {
                                    margin-bottom: 16px;
                                    font-size: 14px;
                                    font-style: normal;
                                    font-weight: 400;
                                    line-height: 147%; 
                                    width: 215px;
                                }
                            }

                            // &-text {
                            // display: flex;
                            // align-items: center;
                            // font-style: normal;
                            // font-weight: 400;
                            // font-size: 14px;
                            // line-height: 140%;
                            // color: $primary-text-color;
                            // margin-bottom: 14px;
                            // }
                            // &-text:nth-last-child(-n + 2) {
                            // margin-bottom: 0px;
                            // }
                        }
                        
                        .contacts-block {
                            display: flex;
                            align-items: flex-end;

                            .contacts-info {
                                width: 434px;
                                display: flex;
                                flex-direction: column;
            
            
                                &-text {
                                    font-weight: 400;
                                    font-size: 14px;
                                    line-height: 147%;
                                    color: $primary-text-color;
                                    margin-bottom: 30px;
                                }
            
                                .block-social {
                                    display: flex;
                                    justify-content: space-between;
            
                                    .region-name {
                                        font-family: 'Inter-Medium', sans-serif;
                                        font-size: 14px;
                                        line-height: 140%;
                                        color: $primary-text-color;
                                        margin-bottom: 18px;
                                    }

                                    .social-links {
                                        display: flex;
                                        align-items: center;
                                        }

                                    .region-social-links {
                                        display: flex;
                                        flex-direction: column;
                                    }
            
                                
                                    .social-links-icon {
                                        width: 40px;
                                        height: 40px;
                                        margin-right: 16px;
                                        transition: transform 0.2s ease-in-out;
                                        &:hover {
                                             transform: scale(1.125); 
                                        }
                                    }
                                    .icon-email {
                                        margin-right: 0;
                                    }
                                    
                                }
                            }
                        }
                    }  
                }
            }
        }

        .company-info {
            position: relative;
            z-index: 4;
            display: flex;
            justify-content: space-between;
            padding: 31.5px 0 27.5px 0;
            opacity: 0.5;
            color: $primary-text-color;
            
            &-blocks {
                flex-direction: column;
            }
            
            &-blocks:not(:last-child) {
                margin-right: 20px;
            }

            .block-owner {
                max-width: 205px;
                }

            .block-cooperation {
                width: 250px;
            }
            
            &-title {
                font-size: 12px;
                line-height: 147%;
                color: $primary-text-color;
            }
            .primary-title{
                margin-bottom: 12px;

            }

            .copy-notification {
                display: inline-block;
                margin-left: 5px;
                padding: 4px 8px;
                background-color: #f0f0f0;
                border-radius: 4px;
                font-size: 12px;
                color: #555555;
            }
        }
    }
}

    @media screen and (max-width:1600px) {
        .main {
            .content_block {
                padding: 0 150px 0 150px;

                .main-info {
                    .container {
                        .hero-section {
                            .brand-info {
                                max-width: 530px;
                                .brand {
                                    display: flex;

                                    .primary-title {
                                        margin-right: 139px;
                                    }
                                }
                            }                         
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width:1280px) {
        .main {
            .block_video{
                video {
                    left: -50%;
                }
            }

            .content_block {
                header {
                    .container {
                         .logo-block {
                        max-width: 160px;
                        }
                    }
                }

                .main-info {
                    .container {
                        .about {
                            &-title {
                                width: 600px;
                                font-size: 35px;
                            }
                        }
                    }
                }
            } 
        }
    }

    @media screen and (max-width: 1024px) {
        .main {
            .block_video{
                video {
                    left: -90%;
                }
            }
            .content_block {
                padding: 0 50px 0 50px;

                header {
                .container {
                    padding: 48px 0 20px 0;
                    }
                }

                .main-info {
                    .container {
                        max-width: 924px;
                        .about {
                            margin-bottom: 70px;

                            &-title {
                                width: 340px;
                                font-size: 28px;
                                margin-bottom: 35px;
                            }

                            &-text {
                            width: 340px;
                            margin-bottom: 30px;
                        }

                            .primary-button {
                                width: 340px;
                                height: 50px;
                            }
                        }
                    }

                }
            }
        }
    }

    @media screen and (max-width: 912px) {
        .main {
            .block_video{
                video {
                    left: -115%;
                }
            }
            .content_block {
                .main-info {
                    max-width: 760px;
                    .container {
                        .about {
                            flex-direction: column;

                            .primary-button {
                                margin: 0 auto;
                                float: none;
                            }
                        }
                        .hero-section {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            
                            .content-block {
                                flex-direction: column;

                                .about-clients{
                                    margin-bottom: 62px;

                                      &-list {
                                        display: grid;
                                        grid-template-columns: 150px 1fr;


                                        .logo_gaming {
                                            width: 140px;
                                            height: 41.272px;
                                        }

                                        .logo_africa {
                                            width: 129.966px;
                                            height: 21.22px;
                                        }

                                        .logo_georgia {
                                            width: 143px;
                                            height: 18.86px;
                                        }

                                        .logo_bacon {
                                            width: 115px;
                                            height: 11.994px;
                                        }

                                        .logo_puma {
                                            width: 48px;
                                            height: 12.19px;
                                        }

                                        p {
                                             width: 180px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                }
            }
        }
    }

    @media screen and (max-width: 800px) {
        .main {
            .block_video{
                video {
                    left: -130%;
                }
            }
        }
    }

    @media screen and (max-width:768px) {
        .main {
            height: auto; 
            .content_block {
                .main-info {
                    .container {
                        max-width: 668px;

                        .hero-section {
                            display: flex;
                            flex-direction: column;
                            justify-content: flex-start;
                            
                            .brand-info {
                                margin-bottom: 70px;
                            }
                        }
                    }
                }
            }
        }
    }

    @media screen and (max-width: 680px) {
        .main {
            .content_block {
                padding: 0 75px 0 75px;

                header {
                    .container {
                        flex-direction: column;
                        .logo-block {
                            flex-direction: row;
                            // max-width: 154px;
                            margin-bottom: 30px;
                            // margin-right: auto;
                            // display: inline-flex;
                            // align-items: flex-start;
                              justify-content: space-between;
                            max-width: 480px;
                            width: 100%;

                            &-title {
                             font-size: 12px;
                             margin-top: 0;
                             max-width: 154px;
                             margin-left: 19px;
                            }
                        
                            &-img {
                                width: 96px;
                                height: 19px;
                            }
                        }

                        .mob_block{
                            justify-content: space-between;
                            max-width: 480px;
                            width: 100%;
                        }
                        .lang_block {
                            .header-partners {
                                margin-right: auto;
                            }
                            .dropdown-lang {
                                margin-right: 0;
                                margin-left: 16px;
                            }
                            .buttons {
                                display: block;
                                margin-right: 0;
                                margin-left: auto;
                                
                                .contact_us {
                                    padding: 9.5px 15px;
                                    margin-bottom: 10px;
                                    margin-right: 0;
                                
                                &:last-child {
                                        margin: 0;
                                    }
                                }
                            }
                        }  
                    }
                }

                .main-info {
                    max-width: 530px;
                }
            }
        }
    }

    @media screen and (max-width:576px) {
        .main {
            .content_block {
                padding: 0 50px 0 50px;
                
                header {
                    .container {
                        
                        .about {
                            flex-direction: column;
                            &-title {
                                font-family: "Asimov", sans-serif;
                                width: 476px;
                                font-size: 28px;
                                font-weight: 500;
                                line-height: 140%;
                                letter-spacing: 0.98px;
                                text-transform: uppercase;
                            }

                            &-text {
                                width: 476px;
                            }
                        }

                    }
                }

                .main-info {
                    max-width: 476px;

                    .container {
                        .about {
                            &-text {
                                margin-bottom: 44px;
                            }
                        }
                        .hero-section {
                            .brand-info {
                                max-width: 425px;
                                margin-bottom: 62px;

                                &-about {
                                    margin-bottom: 0;
                                }
            
                                .brand {
                                    max-width: 425px;
                                    .primary-title {
                                        margin-right: 90px;
                                        margin-bottom: 0;
                                    }
                                .about-clients {            
                                    &-text {
                                            font-size: 12px;
                                            line-height: 140%;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

                .company-info {
                    display: block;

                    .primary-title {
                        margin-bottom: 0;
                    }
                    &-blocks {
                        margin-bottom: 20px;
                    }
                    &-title{
                    font-size: 12px;
                    }
                }
            }
        }
    }

    @media screen and (max-width: 475px) {
        .popup_menu,
        .popup_menu-gratitude {
            top: 25%;
            max-width: 340px;
            padding: 45px 19px 45px 21px;

            .popup_logo {
                margin: 0 auto 35px ;
                img {
                    width: 155px;
                    height: 30px;
                }
            }

            .popup-title {
                font-size: 18px;
            }

            .popup-text {
                text-align: center;
                color: $primary-text-color;
            }

            .btn-close {
                position: absolute;
                top: 16px;
                right: 16px;

                &:hover {
                cursor: pointer;
                }
            }

            .download-modal_inputs {
                    display: flex;
                    flex-direction: column;
                    max-width: 300px;

                    label {
                    margin-bottom: 25px;
                    font-size: 16px;
                    line-height: 140%;
                    color: $popup-color;
                    }

                    label:last-of-type {
                    margin-bottom: 0;
                    }

                    input {
                    max-width: 300px;
                    padding: 0 20px;
                    }

                    .download-modal-btn {
                    margin-top: 35px;
                    margin-bottom: 15px;
                    width: 100%;
                    max-width: 300px;
                    }
                }

            .private-info-wrapper {
                justify-content: flex-start;
            }
        }

        .main {
            .block_video{
                video {
                    left: 0;
                    top: 0;
                    min-width: auto;
                    min-height: auto;
                    height: 100%;
                }
            }
            .content_block {
                padding: 0 25px 0 25px;

                .main-info {
                    max-width: 425px;
                    .container {

                        .hero-section {
                            .brand-info {
                                .about-clients {    
                                    &-text {
                                        font-size: 12px;
                                    }
                                }
                            }
                        }
                    }
                }

                .company-info {
                        max-width: 420px;
                }
            }
        }
    }

    @media screen and (max-width: 429px) {
        .main {
            .content_block {
                padding: 0 18px 0 18px;

                // header {
                //     .container {
                //         .logo-block {
                //             max-width: 140px;
                //         }                       
                //     }
                // }
                
                .main-info {
                    max-width: 380px;
                    .container {
                        .about {
                            &-title {
                                width: 380px;
                            }

                            &-text {
                                width: 380px;
                            }
                        }

                        .hero-section {
                            .brand-info {
                                width: 380px;

                                &-about{
                                    width: 380px;
                                }
                                .about-clients {
                                    width: 380px;
        
                                    &-text {
                                        font-size: 12px;
                                    }
                                }

                            }
                            .contacts-block{
                                    width: 380px;
                                }
                        }
                    }
                }

                .company-info {
                        width: 380px;
                }
            }
        }
    }

    @media screen and (max-width: 415px) {
        .main {
            .content_block {
                .main-info {
                    max-width: 340px;
                    .container {
                        .about {
                            &-title {
                                width: 340px;
                                }

                            &-text {
                                width: 340px;
                                }
                            }
                        .hero-section {
                            .brand-info {
                                    width: 340px;
        
                                    &-about {
                                        width: 340px;
                                    }

                                    .about-clients {
                                        width: 340px;
                                    }
                            }

                            .content-block {
                                .about-clients {
                                    &-list {
                                        grid-template-columns: 141px 1fr;
                                        column-gap: 18px;
                                        font-size: 13px;
                                    }
                                    &-text {
                                        font-size: 13px;
                                    }
                                }

                                .contacts-block {
                                    width: 340px;
                                }
                            }
        
                        }
                    }
                }

                .company-info {
                        width: 340px;
                    }
                }
            }
    }

    @media screen and (max-width: 346px) {
    .main {
      .content-container {
        .main-info {
          .container {
            .hero-section {
              .brand-info {
                &-about {
                  &-text {
                     max-width: 100px;
                  }
                }
              }
            }
          }
        }
      }
    }
    }
}