<div class="block_video">
  <video src="./assets/video/background-video.mp4" autoplay muted playsinline loop></video>
</div>
<div class="content_block">
  {{> header}}
  {{> main}}
  {{> footer}}
  {{> modal}}
</div>